body{
    background-color: dimgray;
    font-style: Sans-serif;
    color: white;
    text-align: center;
}

p{
    font-size: 50px;
}

a{
    color: darkturquoise;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
    max-height: 500px;
    width: auto;
    margin-bottom: 10px;
}